<!DOCTYPE HTML>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
	<meta name="author" content="m8ck" />
	{% if page.description %}<meta name="description" content="{{ page.description }}" />{% endif %}
	<title>{{ page.title }}</title>
	<link href="/css/normalize.css" rel="stylesheet" />
	<link href="//fonts.googleapis.com/css?family=Playfair+Display" rel="stylesheet" type="text/css">
	<link href="//fonts.googleapis.com/css?family=Muli" rel="stylesheet" type="text/css">
	<link href="/css/screen.css" media="screen" rel="stylesheet" />
	<link href="/css/pygments.css" media="screen" rel="stylesheet" />
</head>
<body>
	
	<div id="wrapper">
		
		<header id="masterhead">
			<h1 id="header"><a href="/">Rob Sim</a></h1>
				<nav>
					<a href="http://robs.im">Home</a> -
					<a href="http://blog.robs.im">Blog</a> -
					<a href="/archive.html">Archive</a> -
					<a href="http://dribbble.com/RobSIm">Dribbble</a>
				</nav>
			<div class="clear"></div>
		</header>

		<section>
		
			{{ content }}
		
		</section>

		<footer id="footer">

			<div class="grid">
				Copyright &copy; 2013
			</div>

			<div class="gridright">
			</div>
			
			<div class="clear"></div>
		
		</footer>	
	
	</div>
	</body>
</html>
