<!DOCTYPE HTML>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
	<meta name="author" content="Rob Sim" />
	{% if page.description %}<meta name="description" content="{{ page.description }}" />{% endif %}
	<title>{{ page.title }}</title>
	<link href="/css/normalize.css" rel="stylesheet" />
	<link href="/css/screen.css" media="screen" rel="stylesheet" />
	<link href="/css/pygments.css" media="screen" rel="stylesheet" />
</head>
<body>
	
	<div id="wrapper">
		
		<header id="masterhead">
			<a href="/"><img class="rotate" src="http://blog.robs.im/RobSim.png"  width="60px" height="60px"></a>
			<h1 id="header">Written by <a href="http://robs.im">Rob Sim</a></h1>
				<!-- <nav>
					<a href="http://robs.im">Home</a> -
					<a href="http://blog.robs.im">Blog</a> -
					<a href="/archive.html">Archive</a> -
					<a href="http://dribbble.com/RobSIm">Dribbble</a>
				</nav> -->
			<div class="clear"></div>
		</header>

		<section>
		
			{{ content }}
		
		</section>
</div>
		<!-- <footer id="foot">

			<div class="grid">
				Copyright &copy; 2013
			</div>

			<div class="gridright">
			</div>
			
			<div class="clear"></div>
		
		</footer>	 -->
	
	<script type="text/javascript">
  var analytics=analytics||[];analytics.load=function(e){var t=document.createElement("script");t.type="text/javascript",t.async=!0,t.src=("https:"===document.location.protocol?"https://":"http://")+"d2dq2ahtl5zl1z.cloudfront.net/analytics.js/v1/"+e+"/analytics.min.js";var n=document.getElementsByTagName("script")[0];n.parentNode.insertBefore(t,n);var r=function(e){return function(){analytics.push([e].concat(Array.prototype.slice.call(arguments,0)))}},i=["identify","track","trackLink","trackForm","trackClick","trackSubmit","pageview","ab","alias","ready"];for(var s=0;s<i.length;s++)analytics[i[s]]=r(i[s])};
  analytics.load("zjewx5hakw");
</script>
	</body>
</html>
