---
layout: layout
---

<div class="content">
	<article class="post single">
  		<header>
				
				{% if page.link %}
				  <h3>→ <a href="{{ page.link }}" class="link">{% if site.titlecase %}{{ page.title | titlecase }}{% else %}{{ page.title }}{% endif %}</a></h3>
				{% else %}
				  <h2><a href="{{ page.url }}">{% if site.titlecase %}{{ page.title | titlecase }}{% else %}{{ page.title }}{% endif %}</a></h2>
				{% endif %}
  			<span class="date">{{ page.date | date: "%B %e, %Y" }}</span>
  		</header>
		
    	{{ content }}

  	</article>
	
	<!--<p id="related-posts">
		<h3>Related Posts</h3>
	  	{% for related in site.related_posts limit:5 %}
		<ul>
			<li><a href="{{ related.url }}/">
	          {{ related.title }}
			</a></li>
		</ul>
	  {% endfor %}
	</p>-->
	<script type="text/javascript">
  var analytics=analytics||[];analytics.load=function(e){var t=document.createElement("script");t.type="text/javascript",t.async=!0,t.src=("https:"===document.location.protocol?"https://":"http://")+"d2dq2ahtl5zl1z.cloudfront.net/analytics.js/v1/"+e+"/analytics.min.js";var n=document.getElementsByTagName("script")[0];n.parentNode.insertBefore(t,n);var r=function(e){return function(){analytics.push([e].concat(Array.prototype.slice.call(arguments,0)))}},i=["identify","track","trackLink","trackForm","trackClick","trackSubmit","pageview","ab","alias","ready"];for(var s=0;s<i.length;s++)analytics[i[s]]=r(i[s])};
  analytics.load("k4v2jezhmo");
</script>
</div>
